<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- When <clear /> is present, previously defined sources are ignored -->
    <clear />
	<add key="LocalPackages" value="PackageSource" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>